/*23.46*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  padding: 100px;
}
.banner {
  position: relative;
  min-height: 100vh;
  /*background-image: url(images/banner.jpg); linear-gradient(black, white);*/
  background-color: black;
  background-image: url(images/bitmap.png);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-weight: 500;
  font-size: 1.5em;
  color: #6441a4;
}
purple {
  color: #6441a4;
}
.banner h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #6441a4;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: black;
}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  display: flex;
}
header ul li a:hover {
  color: #6441a4;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}
header.sticky ul li a {
  color: #111;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.contentBox {
  padding-right: 30px;
  width: 50%;
}
.contentBox h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.services {
  background-color: #111;
}
.heading.white {
  color: #fff;
}
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .servicesBox {
  padding: 40px 20px;
  background-color: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .servicesBox:hover {
  background: #2196f3;
}
.services .content .servicesBox img {
  max-width: 80px;
  filter: invert(0);
}
.services .content .servicesBox h2 {
  font-size: 20px;
  font: weight 600px;
}
.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .workBox {
  width: 50%;
  padding: 20px;
}
.work .content .workBox img {
  max-width: 100%;
}
.single-project {
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  display: flex;
}
.project-text {
  width: 70%;
}
.project-img {
  width: 30%;
  height: 30%;
}
tag {
  background-color: #6441a4;
  color: white;
  border-radius: 15px;
  padding: 5px;
  line-height: 40px;
}
@media screen and (max-width: 1000px) {
  .contentBox {
    padding-right: 30px;
    width: 100%;
  }
  .contentBox img.bilgi {
    width: 100%;
  }
  .banner {
    background-image: none;
    background-color: black;
  }
  header {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .single-project img {
    width: 0;
  }
  .project-text {
    width: 100%;
  }
  .heading {
    margin-top: 60px;
  }
}
